<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图片标注系统</title>
    <link rel="stylesheet" href="../static/index.css" type="text/css"/>
    <!--引入一个js函数库-->
    <script  src="../static/jquery-3.3.1.js"></script>
    <script  src="../static/index.js"></script>



<!-- 后面加的 -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="../static/style.css">
<script src="../static/jquery-1.11.0.min.js"></script>


</head>
<body>
    <div class="global">

        <h1>图片标注系统</h1>

        <div class="table">

            <div class="first_row">
                <div class="non_login" id="non_login">

                    用户名:<input id="user" type="text" name="username">
                    密码:<input id="pass" type="password" name="password">
                    <span id="one_span">如果没有注册，请你先注册再次登录</span><br>
                    <input type="submit"  value="登录" name="登录" onclick="proLogin()">
                    <input type="submit"  value="注册" name="注册" onclick="proRegister()">
                </div>
                <div class="login" id="login">
                    <p>
                    <span id="two_span">您已经登录成功。你可以查看和上传图片</span>
                    <button class="up_img" type="button" name="上传" value="上传" onclick="up_load();">上传</button>
                    </p>
                </div>
            </div>

            <div class="second_row">

                <div class="left">

                    <table >
                        <tr>
                            <td>图片列表</td>
                        </tr>
                        <tr>
                            <td>
                                <table id="img_list">
                                     {{ list|safe }}
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button type="button" value="up" onclick="turn_page(value);">上一页</button>
                                <button type="button" value="down" onclick="turn_page(value);">下一页</button>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="right">
                    <div class="show_img">
                       <!--  <img src="../static/bg_index_4.jpg" /> -->
                       <div class="piclist">
    <ul class="listul"></ul>
    <div class="fydiv">
        <ul class="fenye"></ul>
    </div>
</div>



<script type="text/javascript">
  getPage(1);
//翻页
function getPage(pn){
  var dataCount=60;//总数据条数
  var pageSize=30;//每页显示条数
  var pageCount= Math.ceil(dataCount / pageSize);//总页数
  if(pn==0||pn>pageCount){
    return;
  }
  var ul=$(".listul");
  ul.empty();
  //console.log(pageCount+"..."+pn)
  paintPage(pageCount,pn);   //绘制页码
  var startPage = pageSize * (pn - 1);

  if (pageCount == 1) {     // 当只有一页时 
    for (var j = 0; j < dataCount; j++) {  
      var e="<li><a href=\"content.html\"><img src=\"../static/1.jpg\"></a></li>";
      ul.append(e);    
    }
  }else {      // 当超过一页时 
    var e=""; 
    var endPage = pn<pageCount?pageSize * pn:dataCount;
    for (var j = startPage; j < endPage; j++) {  
      // var e="<li><a href=\"content.html\"><img src=\"images/"+ j + ".jpg\"></a></li>";
      var e="<li><img src=\"../static/images/"+ j + ".jpg\"></li>";
      ul.append(e);
    }
  }
}

//绘制页码
  function paintPage(number,currNum)  //number 总页数,currNum 当前页  
  {
    var pageUl=$(".fenye");
    pageUl.empty();
    var ulDetail="";

    if(number==1){
     ulDetail= "<li class=\"prev\"><a href=\"javascript resize()\">上一页</a></li>"+
     "<li class=\"numb choose\"><a href=\"javascript: getPage(1); resize();\">1</a></li>"+
     "<li class=\"next\"><a href=\"javascript:resize();\">下一页</a></li>";
   }else if(number==2){
     ulDetail= "<li class=\"prev\"><a href=\"javascript:getPage(1); resize()\">上一页</a></li>"+
     "<li class=\"numb"+choosele(currNum,1)+"\"><a href=\"javascript: getPage(1); resize();\">1</a></li>"+
     "<li class=\"numb"+choosele(currNum,2)+"\"><a href=\"javascript: getPage(2); resize();\">2</a></li>"+
     "<li class=\"next\"><a href=\"javascript: getPage(2); resize();\">下一页</a></li>";
   }else if(number==3){
     ulDetail= "<li class=\"prev\"><a href=\"javascript: getPage("+parseInt(currNum-1)+"); resize()\">上一页</a></li>"+
     "<li class=\"numb"+choosele(currNum,1)+"\"><a href=\"javascript:resize(); getPage(1)\">1</a></li>"+
     "<li class=\"numb"+choosele(currNum,2)+"\"><a href=\"javascript:resize(); getPage(2)\">2</a></li>"+
     "<li class=\"numb"+choosele(currNum,3)+"\"><a href=\"javascript:resize(); getPage(3)\">3</a></li>"+
     "<li class=\"next\"><a href=\"javascript: getPage("+parseInt(currNum+1)+"); resize()\">下一页</a></li>";
   }else if(number==currNum&&currNum>3){
     ulDetail= "<li class=\"prev\"><a href=\"javascript: getPage("+parseInt(currNum-1)+"); resize();\">上一页</a></li>"+
     "<li class=\"numb\"><a href=\"javascript:getPage("+parseInt(currNum-2)+"); resize();\">"+parseInt(currNum-2)+"</a></li>"+
     "<li class=\"numb\"><a href=\"javascript: getPage("+parseInt(currNum-1)+"); resize();\">"+parseInt(currNum-1)+"</a></li>"+
     "<li class=\"numb choose\"><a href=\"javascript: getPage("+currNum+"); resize();\">"+currNum+"</a></li>"+
     "<li class=\"next\"><a href=\"javascript:getPage("+currNum+"); resize()\">下一页</a></li>";
   }else if(currNum==1&&number>3){
     ulDetail= "<li class=\"prev\"><a href=\"javascript: resize()\">上一页</a></li>"+
     "<li class=\"numb choose\"><a href=\"resize();\">1</a></li>"+
     "<li class=\"numb\"><a href=\"javascript: getPage(2); resize();\">2</a></li>"+
     "<li class=\"numb\"><a href=\"javascript: getPage(3); resize();\">3</a></li>"+
     "<li class=\"next\"><a href=\"javascript: getPage(2); resize()\">下一页</a></li>";
   }else{
     ulDetail= "<li class=\"prev\"><a href=\"javascript: getPage("+parseInt(currNum-1)+"); resize()\">上一页</a></li>"+
     "<li class=\"numb\"><a href=\"javascript: getPage("+parseInt(currNum-1)+"); resize();\">"+parseInt(currNum-1)+"</a></li>"+
     "<li class=\"numb choose\"><a href=\"javascript: getPage("+currNum+"); resize();\">"+currNum+"</a></li>"+
     "<li class=\"numb\"><a href=\"javascript: getPage("+parseInt(currNum+1)+"); resize();\">"+parseInt(currNum+1)+"</a></li>"+
     "<li class=\"next\"><a href=\"javascript:getPage("+parseInt(currNum+1)+"); resize()\">下一页</a></li>";
   }

   $(".fenye").append(ulDetail);
 }

 function choosele(num,cur){
  if(num==cur){
    return " choose";
  }else{
    return "";
  }
}

window.onload = function (ev) {


}


</script>

<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
<!-- <p>适用浏览器：IE8、360、FireFox、Chrome、Safari、Opera、傲游、搜狗、世界之窗.</p>
 -->
   
 </div>
                    </div>











                   <!--  <div id="upload_div"  title="上传图片">
                        <form enctype="multipart/form-data">
                            <table id="up_load_table" cellpadding="10px" cellspacing="1">
                                <tr>
                                    <td class="up_load_title">图片标题:</td>
                                    <td><input type="text" id="title" name="title"></td>
                                </tr>
                                <tr>
                                    <td class="up_load_title">浏览图片</td>
                                    <td><input id="file" name="file" type="file" /></td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="center">
                                        <input type="button" value="上传" onclick="up_load_file();"/>
                                        <input type="reset" value="重设"/>
                                    </td>
                                </tr>
                            </table>
                        </form>

                    </div> -->
                </div>


            </div>


        </div>
    </div>

</body>
<script>
  var resize = function() {
    var b1 = 'solid 2px white',
        b2 = '#000 2px dotted';
    var imgs = $('.listul li');
    imgs.attr('isSelected', 'false');
    imgs.css({
      'border': b1,
      'width': '90px',
      'height': '90px'
    });
    $('.listul img').css({
      // 'width': '90px', //////////////////////////////// <----------------------- 这里！
      'height': '90px'
    });
    $('.piclist').css({
      'margin-top': '-16px',
      'width': '100%'
    });
    imgs.click(function() {
      var that = $(this);
      if (that.attr('isSelected')) {
        that.css('border', b2);
        that.attr('isSelected', '');
      } else {
        that.css('border', b1);
        that.attr('isSelected', 'false');
      }
    });
  };
  window.onload = resize;
</script>
</html>